<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--savedataArchiveFolderName: only valid when [savedataArchiveFolderPath] config is commented or not present-->
    <add key="savedataArchiveFolderName" value="archives"/>
    <!--savedataArchiveFolderPath: comment the next line to save in [executable folder]/[savedataArchiveFolderName]-->
    <add key="savedataArchiveFolderPath" value="E:\Temp\SavedataManagerArchives"/>
    <add key="savedataArchiveName" value="Savedata_{NAME}_{TIME}.zip"/>
    <add key="savedataArchiveNameTimeFormat" value="yyyyMMddHHmmssffffff"/>
    <add key="savedataConfigFileName" value="tuihub_savedata_config.json"/>
  </appSettings>
</configuration>